@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav > button {
  border-radius: 5px;
  height: 40px;

}

main {
position: relative;
width: 1500px;
height: 652px;
left: 0;
right: 0;
top: 30px;
background-image: url(/assets/Hero-bg.png);
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

main > section {
    width: 998px;
    height: 582px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

main > section > div {
width: 240px;
height: 240px;

}

main > section > h1 {
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

main > section > p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
} 

main > section > button {
    width: 160px;
    height: 32px;
    padding: 21px 24px 21px 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
}

.section-2{
    margin-top: 100px;
    width: 1140px;
    height: 1120px;
    margin-right: auto;
    margin-left: auto;
 
}

.h1-1 {
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

.p-1 {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    text-align: center;
}

.div-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 48px;

}

.div-2 {
    width: 800px;
    margin-top: 0px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.h3-1{
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    margin-top: 0px;
}
.p-2 {
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    width: 650px;
 
}

.button-1 {
    width: 150px;
    height: 48px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
  
    border-radius: 5px;
}
.div-3 {
    width: 200px;
    height: 220px;
    margin-top: 0px;
     
}

.img-1 {
    width: auto;
    height: auto;
}

.div-4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 48px;

}

.div-5 {
    width: 200px;
    height: 220px;
    margin-top: 0px;
     
}

.div-6 {
    width: 800px;
    margin-top: 0px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: self-start;
    padding-left: 50px;
    
   
}

.h3-2{
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    margin-top: 0px;
}
.p-3 {
    font-size: 16px;
    font-weight: 400;
    width: auto;
    text-align: left;
    width: 610px;
 
}

.button-2 {
    width: 150px;
    height: 48px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    border-radius: 5px;
    align-self: self-start;
}

.div-7 {
    width: 1140px;
    height: 550px;
    margin-top: 20px;
}

.section-3 {
    width: 1140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.img-c {
    width: 50px;
    height: 50px;
    margin-top: 20px;
}

.h2-c {
    font-size: 24px;
    font-weight: 800;
}

.p-c {
    font-size: 16px;
    font-weight: 400;
}

.h6-c {
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
}

.div-c{
   
    width: 350px;
    height: 280px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding-left: 20px;
    
}

.div-8 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}
    

.section-c {
    width: 1140px;
    height: 314px;
    margin: auto;
}
.section-d {

    width: 1140px;
    height: 314px; 
    margin: auto;
    
}

.div-d {
    width: 1140px;
    height: 314px;  
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)) , url(/assets/handshake.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
   
}

.h1-d {
    color: white;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.p-d {
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.div-e {
    padding: 64px 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.div-f {
    display: flex;
    flex-direction: row;
    gap: 20px;

}

.footer-a{
    width: 1140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 30px;
}